Package: com.wifiautoshortcut.launcher
Name: WiFi自动快捷指令启动器
Version: 1.0.0
Architecture: iphoneos-arm
Description: 当iPhone连接到指定WiFi时自动运行快捷指令
Maintainer: WiFiAutoShortcut
Author: WiFiAutoShortcut
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), preferenceloader (>= 2.0.0)
